.comentario{
    margin: 20px;

}

.comentario p{
    width: 600px;
    height: auto;
    margin-left: 50px;


}

.comentario h2{
    text-align: center;
    width: 600px;
    height: auto;
    color: blue;
    margin-top: auto;
    margin: 20px;

}
