.login{
    width: 500px;
    float:right;
    border-radius: 20px;
    background: grey;
}


.login h3{
    text-align: center;
    width: 400px;
    height: 40px;
    color: blue;
}

.login h4{
    text-align: center;
    width: 400px;
    height: 40px;
    color: red;
}

.login label{
    color: blue;
}

.login input {
    display: block;
    padding: 6px;
    width: 80%;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 20px;
}



.login input[type="submit"] {
    background: linear-gradient(red,#FF8940);
    border:5px;
     width: 100px;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 10px;
    margin:auto;
    float: left;
}

input[type="submit"]:hover {
    opacity: 1;
}

input[type="submit"]:active {
    transform: scale(0.95);
}
