.login{
    width: 500px;
    float:right;
    border-radius: 20px;
}

input {
    display: block;
    padding: 6px;
    width: 80%;
    margin: 15px 0;
    border-radius: 10px;
    font-size: 20px;
}


