.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 100px%;
    animation: cambio 20s infinite;
}



.slider li{
    text-align: center;
    width:  600px;
    margin: 20px;
    height: 200px;
    float:right;
    list-style: none;
    align-content: flex-start;
}

.slider p{
    width: 250px;
    text-align: center;
    color: ;
    border: 3px solid red;
    float: center;
    top: 20%;
    left: 50%;
    border-radius: 5px;
}

.slider img{
    width: 100%;
    height: 180px;
    border-radius: 20%;
    border: 7px solid grey;


}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

     25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -0%;}
    70%{margin-left: -0%;}

     75%{margin-left: -0;}
    100%{margin-left: -0;}

}
